!gradle-wrapper.jar
/.gradle
.idea/modules/test-output/
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries/
.idea/runConfigurations
.idea/.name
.idea/caches/build_file_checksums.ser
/out
/build
/test-output
/node_modules
*.class
*.swp
*.swo
*.iws
/local.properties
/.env
